{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
</head>
<body>
    <div class="signup-container">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}" style="font-size: larger;">Login here</a></p>
    </div>
</body>
</html>

